body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color:aquamarine
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.box {
    width: 100px;
    height: 100px;
    font-size: 32px;
    cursor: pointer;
    background: #57e02ed0;
    box-shadow: 0 0 10px rgb(87, 204, 175);
}

#resetBtn {
    padding: 8px 20px;
}